<%- include('../partials/sidebar.ejs'); %>

    <main class="pt-6">
        <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-gray-50 border-4 border-green-400">
            <form action="/producto/update/<%= id %>" method="post" class="w-full max-w-lg">
                
                <h1 class="mt-6 my-3 font-bold text-xl">REGISTRO PRODUCTO</h1>
                <% if (messages.error) { %>
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">error!</strong>
                        <span class="block sm:inline">Ingrese un nombre.</span>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                          <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                        </span>
                      </div>
                <% } %>
                <div class="flex flex-wrap  mt-4">     
                    <div class="w-full  px-3 ">                      
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-last-name">
                            Nombre producto
                        </label>
                        <input
                        value="<%= nombre %>"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="nombre" type="text" >
                    </div>
                    <div class="w-full  px-3 ">                      
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-last-name">
                            DESCRIPCION
                        </label>
                        <input
                        value="<%= descripcion %>"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="descripcion" type="text" >
                    </div>
                    <div class="w-full  px-3 ">                      
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-last-name">
                            URL FOTO
                        </label>
                        <input
                        value="<%= foto %>"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="foto" type="text" >
                    </div>
                    <div class="w-full  px-3 ">                      
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-last-name">
                            STOCK
                        </label>
                        <input
                        value="<%= stock %>"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="stock" type="number" >
                    </div>
                    <div class="w-full  px-3 ">                      
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-last-name">
                            PRECIO
                        </label>
                        <input
                        value="<%= precio %>"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="precio" type="number" >
                    </div>
                    <div class="flex flex-wrap -mx-3 mt-5 px-3">
                        <div class="w-full px-3">
                            <button type="submit"
                            class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="button">
                            Agregar 
                        </button>
                        </div>
                      </div>
                </div>
                
            </form>
        </div>
    </main>

    <%- include('../partials/footer.ejs'); %>